In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData
metadata = MetaData()

In [2]:
filepath = "Resources/clean_reviews_data.db"
engine = create_engine(f"sqlite:///{filepath}")
df = pd.read_sql('SELECT AUTHOR, TITLE, REVIEW, RATING FROM "IMDB Reviews"', engine)
df

,AUTHOR,TITLE,REVIEW,RATING
0,margarida-44311,Not Bad,I don't get all the terrible reviews for this ...,5.0
1,joemay-2,What are all the bad reviews about is it a wo...,I cannot believe anyone could give this film l...,8.0
2,nebk,Great White=Jaws Lite,Great White is not the worst way to spend 90 m...,4.0
3,kuarinofu,Bare-bones killer shark film,Great White is as basic of a killer shark film...,4.0
4,Horror_Flick_Fanatic,"Terrible story, dialogue, and CGI","Terrible story, dialogue and CGI. The film has...",4.0
...,...,...,...,...
5327,suryajijvania,More Parts,"It's master piece by Zack please part 2,3,4 al...",10.0
5328,shishirkmr-82243,It's a fantastic movie,No words to describe. It's awesome. One of the...,10.0
5329,moizsyed-07601,Awesome out standing!,Far better than previous one and better editin...,10.0
5330,samun_shrestha,EPIC,Why did the studio say no to this masterpiece?...,10.0
5331,mmuradali-65680,The best DC movie till date,Overall Opinion-Although the competitors Marve...,10.0

In [3]:
imdb = df.copy()
imdb["AUTHOR_ID"] = imdb.index + 1
imdb

,AUTHOR,TITLE,REVIEW,RATING,AUTHOR_ID
0,margarida-44311,Not Bad,I don't get all the terrible reviews for this ...,5.0,1
1,joemay-2,What are all the bad reviews about is it a wo...,I cannot believe anyone could give this film l...,8.0,2
2,nebk,Great White=Jaws Lite,Great White is not the worst way to spend 90 m...,4.0,3
3,kuarinofu,Bare-bones killer shark film,Great White is as basic of a killer shark film...,4.0,4
4,Horror_Flick_Fanatic,"Terrible story, dialogue, and CGI","Terrible story, dialogue and CGI. The film has...",4.0,5
...,...,...,...,...,...
5327,suryajijvania,More Parts,"It's master piece by Zack please part 2,3,4 al...",10.0,5328
5328,shishirkmr-82243,It's a fantastic movie,No words to describe. It's awesome. One of the...,10.0,5329
5329,moizsyed-07601,Awesome out standing!,Far better than previous one and better editin...,10.0,5330
5330,samun_shrestha,EPIC,Why did the studio say no to this masterpiece?...,10.0,5331
5331,mmuradali-65680,The best DC movie till date,Overall Opinion-Although the competitors Marve...,10.0,5332

In [4]:
# imdb.filter["AUTHOR_ID, AUTHOR"]
author = imdb[["AUTHOR_ID", "AUTHOR"]]
author

      AUTHOR_ID                AUTHOR
0             1       margarida-44311
1             2              joemay-2
2             3                  nebk
3             4             kuarinofu
4             5  Horror_Flick_Fanatic
...         ...                   ...
5327       5328         suryajijvania
5328       5329      shishirkmr-82243
5329       5330        moizsyed-07601
5330       5331        samun_shrestha
5331       5332       mmuradali-65680

[5332 rows x 2 columns]

In [5]:
imdb["AUTHOR"].nunique()

4678

In [17]:
num_reviews = imdb.sort_values('AUTHOR', ascending=True).groupby("AUTHOR")["TITLE"].count()
num_reviews_df = pd.DataFrame(num_reviews)
top_reviewers = num_reviews_df.sort_values("TITLE", ascending=False).head(20)
top_reviewers

                      TITLE
AUTHOR
Xstal                    10
kwenchow                 10
yusufpiskin               9
cruise01                  9
nogodnomasters            9
ops-52535                 9
SnoopyStyle               8
Golden_Hope               8
ThomDerd                  8
Top_Dawg_Critic           8
atractiveeyes             7
msbreviews                7
joscon-16616              7
sweidman-28016            7
trinaboice                7
Jo_Blo_Movie_Critic       6
whitemanfromtowne         6
rnixon-15663              6
ferguson-6                6
Horror_Flick_Fanatic      6